/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
 @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

 

body {
    background-color: #FFB6C1;
    text-align: center;
}

h1 {
    font-family: 'Barlow', sans-serif;
    color: #fff;
    font-size: 55px;
    margin-bottom: 40px;
}

table {
    padding: 80px;
}

.field {
    
    margin-top: 10px;
    
}


.container-inicio {
    font-family: 'Barlow', sans-serif;
    max-width: 700px;
    padding: 20px;
    background-color: #fff;
    border-radius: 35px;
}

.container {
    font-family: 'Barlow', sans-serif; 
    max-width: 300px;
    min-height: 200px;
    background-color: #fff;
    border-radius: 35px;
    padding: 30px;

}




